body {
    max-width: 640px;
    width: 100%;
    /* чтобы не отображалось за пределами */
    font-family: Arial, Verdana, sans-serif;
    background-color: #f8f8f8;
}

/* 
.menu {
    position: relative;
} */

.menu li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px 5px 10px;
}

.menu li a {
    text-decoration: none;
    color: #006633;
    font-size: 20px;
}

.menu li a:hover {
    color: rgb(0, 0, 0);
}


.row {
    display: flex;
    align-items: center;
    padding: 4px;
}

.list div:nth-child(2n) {
    background: rgb(239, 239, 239);
}

.list div:nth-child(2n+1) {
    background: rgb(231, 231, 231);
}

button {
    padding: 5px;
}

a {
    padding: 5px;
    margin: 0px 5px;
    color: black;
}

.row button:first-of-type {}

.row a:first-of-type,
.row section:first-of-type {
    /* Key here is margin-left needs to be auto */
    margin: 0 5px 0 auto
}

.form ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.form li {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.form li h3 {
    text-align: center;
}

.form li:first-child,
.form li:last-child {
    border-bottom: 1px solid #777;

}

.form label {
    width: 25%;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}


.form input {
    height: 20px;
    width: 70%;
    padding: 2px 8px;
}

.form select {
    height: 32px;
    padding: 3px 8px;
}

.form textarea {
    padding: 8px;
    width: 70%;
}