<!DOCTYPE html>
<html>

<head>
    <title>О нас</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="menu">
        <!-- <li><a href="/">Главная</a></li>
		<li><a href="/about/">О нас</a></li> -->
        <li><a href="index.html">Главная</a></li>
        <li><a href="adm.html">Адм.панель</a></li>
        <li><a href="about.html">О нас</a></li>
    </div>
    <hr>

    <h1>Свяжитесь с нами</h1>
    <div>
        <p><a href="tel:+375296820352" class="tel">+375 (29) 682-82-82</a></p>
        <p><a href="mailto:zzz@yandex.by" class="mail">zzz@yandex.by</a></p>
    </div>
    <form action="" method="post">
        <fieldset>
            <legend>Напишите нам</legend>
            <p>
                <label class="title" for="name">Ваше имя:</label>
                <input type="text" name="name" id="name"><br />
                <label class="title" for="email">Ваш email:</label>
                <input type="email" name="email" id="email"><br />
                <label class="title" for="subject">Тема:</label>
                <input type="text" name="subject" id="subject"><br />
                <label class="title" for="message">Сообщение:</label>
                <textarea name="message" type="message" id="message" maxlength="600"></textarea>
            </p>
        </fieldset>
        <div class="submit"><input type="submit" value="ОТПРАВИТЬ" /></div>
    </form>
</body>

</html>