{% extends "/layout/basis.html" %}

{% block title %}
    О нас
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block menu %}
    {% include "/layout/menu.html" %}
{% endblock %}

{% block body %}
    <h2>Свяжитесь с нами</h2>

    <div class="list">
        <div class="row">
            <span>Телефон</span>
            <section>+375 (29) 682-82-82</section>
        </div>
        <div class="row">
            <span>Почта</span>
            <a href="mailto:zzz@yandex.by" class="mail">zzz@yandex.by</a>
        </div>
        <div class="row">
            <span>Телеграм</span>
            <section>@learning</section>
        </div>
    </div>
    <form class="form" action="" method="post" name="add_course">
        <ul>
            <li>
                <h3>Напишите нам</h3>
            </li>
            <li>
                <label for="name">Ваше имя:</label>
                <input id="name" type="text" name="name" required />
            </li>
            <li>
                <label for="email">Ваш email:</label>
                <input id="email" type="text" name="email" required />
            </li>
            <li>
                <label for="subject">Тема:</label>
                <input id="subject" type="text" name="subject" required />
            </li>
            <li>
                <label for="descr">Описание:</label>
                <textarea id="descr" name="descr" cols="40" rows="6"></textarea>
            </li>
            <li>
                <label></label><button class="submit" type="submit">Отправить</button>
            </li>
        </ul>
    </form>
{% endblock %}
