{% extends "/layout/basis.html" %}

{% block title %}
О нас
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block menu %}
{% include "/layout/menu.html" %}
{% endblock %}

{% block body %}
    <h3>Панель администрирования</h3>
    <hr>
    <div class="list">
        {% for item, path in items %}
        <div class=row>
            <span>{{ item }}</span>
            <a href="{{ path[0] }}" target="_parent"><button>Добавить</button></a>
            <a href="{{ path[1] }}" target="_parent"><button>Изменить</button></a>
            <a href="{{ path[2] }}" target="_parent"><button>Показать</button></a>
        </div>
        {% endfor %}
    </div>
    {% block admin %}{% endblock %}
{% endblock %}
