{% extends "/layout/basis.html" %}

{% block title %}
    О нас
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block menu %}
    {% include "/layout/menu.html" %}
{% endblock %}

{% block body %}
    <p><h1>Панель администрирования</h1></p>
    <form action="" method="post">
        <fieldset>
            <legend>Добавить новую категорию</legend>
            <p>
                <label class="title" for="name">Категория:</label>
                <input type="text" name="name" id="name"><br />
            </p>
        </fieldset>
        <div class="submit"><input type="submit" value="Добавить" /></div>
    </form>
    <p>{{ msg }}</p>
{% endblock %}
