{% extends "/layout/basis.html" %}

{% block title %}
О нас
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block menu %}
{% include "/layout/menu.html" %}
{% endblock %}

{% block body %}
<p><h1>Панель администрирования</h1></p>
<fieldset>
    <legend>Список категорий и курсов</legend>
    <ul class="category-list">
        {% for ctg in categories -%}
        <li>{{ ctg.name }}</li>
        <ul>
            {% for crs in ctg.courses -%}
            <li>{{ crs.name }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
</fieldset>
{% endblock %}
