{% extends "/layout/basis.html" %}

{% block title %}
О нас
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block menu %}
{% include "/layout/menu.html" %}
{% endblock %}

{% block body %}
<p><h1>Панель администрирования</h1></p>
<fieldset>
    <legend>Список студентов и курсов</legend>
    <div class="ctgs">
        <ul>
        {% for course in courses_list %}
        <li>
            {{ course.name }}
            <span>[
            {% for user in course.users %}
                {{ user.name }},
            {% endfor %}
            ]</span>
        </li>
        {% endfor %}
        </ul>
    </div>
</fieldset>
{% endblock %}
