{% extends "/layout/basis.html" %}

{% block title %}
О нас
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block menu %}
{% include "/layout/menu.html" %}
{% endblock %}

{% block body %}
<p><h1>Панель администрирования</h1></p>
<form action="" method="post">
    <fieldset>
        <legend>Добавить новый курс</legend>
        <b>Родительская категория:</b><br>
        <textarea style="width: 100%; height:50px" name="selected-ctg" type="message" id="selected-ctg" maxlength="600"
            readonly></textarea>
        <b>Выберите родительскую категорию:</b><br>
        <div class="ctgs">
            {{ tree }}
        </div>
        <p>
            <label class="title">Форма обучения:</label>
            <select name="format">
                {% for fmt in formats -%}
                <option>{{ fmt }}</option>
                {% endfor %}
            </select>
            <label class="title" for="name">Курс:</label>
            <input type="text" name="name" id="name"><br/>
        </p>
    </fieldset>
    <div class="submit"><input type="submit" value="Добавить"/></div>
</form>
<p>{{ msg }}</p>
<script src="/static/js/script.js"></script>
{% endblock %}
